@forward "splash";
@forward "navbar";
@forward "switch";
@forward "login";
@forward "register";
@forward "mobile-menu";
@forward "project";
@forward "create-project";
@forward "sidebar";
@forward "kanban-board";
@forward "create-task";
@forward "backlog";
@forward "profile";
@forward "notifications"
