@use "../base" as v;

@mixin logo-size($desktopSize, $large, $medium, $small) {
  @media (max-width: v.$desktop) {
    .navbar .logo {
      width: #{$desktopSize};
      padding-left: 1.5rem;
    }
  }
  @media (max-width: v.$tablet) {
    .navbar .logo {
      width: #{$large};
      padding-left: 1rem;
    }
  }
  @media (max-width: v.$mobile) {
    .navbar .logo {
      width: #{$medium};
      padding-left: 0.8rem;
    }
  }
  @media (max-width: v.$smallScreen) {
    .navbar .logo {
      width: #{$small};
      padding-left: 0.5rem;
    }
  }
}

@mixin grid-columns($columns, $gap: 1rem) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-gap: $gap;
}